@import "src/styles/mixins";

.home-page_hero {
  position: relative;
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;

  figure {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    color: var(--color-title-secondary);
    text-shadow: 5px 5px 15px #111520;
  }

  blockquote {
    font-size: 2rem;
    margin-left: 0;
    margin-right: 0;
  }

  figcaption {
    text-align: right;
    font-size: 1.5rem;
  }
}

.popular-recipes {
  h2 {
    display: inline-block;
    color: var(--color-title-secondary);
    background-color: #f3155b;
    padding: 10px;
    border-radius: 5px;
  }
}

@include screen__small {
  .home-page_hero {
    height: 400px;
  }
}

@include screen__medium {
  .home-page_hero {
    blockquote {
      font-size: 2.5rem;
      margin-left: 40px;
      margin-right: 40px;
    }

    figcaption {
      font-size: 2rem;
    }
  }
}
