@import "src/styles/mixins";

.menu-button {
  position: absolute;
  left: 10px;
  border: 2px solid transparent;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;

  &:hover,
  &:focus {
    border-color: #000000;
  }
}

@include tablets {
  .menu-button {
    display: none;
  }
}
