@import "src/styles/mixins";

.menu-list {
  padding-left: 0;
}

.menu-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);

  a {
    color: var(--color-primary);
    display: block;
    padding: 5px 0;
  }
}

@include tablets {
  nav {
    text-align: center;
  }

  .menu-list {
    margin: 50px 0;
  }

  .menu-item {
    a {
      font-size: 1.5rem;
    }
  }
}
