@import "./mixins";

:root {
  --color-primary: #5c5c5c;
  --color-secondary: #3e3e3e;

  --color-title-primary: #2c2d2f;
  --color-title-secondary: #ffffff;

  --color-link-primary: #8297b3;
  --color-link-primary--hover: #2863ec;

  --white: #ffffff;
  --gunmetal: #292f36;
  --cultured: #f5f6f8;
  --tart-orange: #fe4a49;
  --pacific-blue: #2ab7ca;
  --orange-yellow-crayola: #fed766;
  --rifle-green: #5d6841;

  --sidebar-width: 270px;
  --header-height: 70px;
  --footer-height: 70px;
}

@include tablet {
  :root {
    --header-height: 120px;
  }
}
