@import-normalize;
@import "mixins";
@import "variables";
@import "transitions";
@import "fonts";

html {
  font-size: 14px;
  height: 100%;
}

body {
  background-color: var(--cultured);
  margin: 0;
  font-family: "Nunito", "Arial", sans-serif;
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-link-primary);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-link-primary--hover);
  }
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
