@import "src/styles/mixins";

.cook-content {
  flex-grow: 1;
  padding: calc(var(--header-height) + var(--default-padding))
    var(--default-padding) var(--default-padding);
}

@include tablet {
  .cook-content {
    padding-top: var(--default-padding);
  }
}
