@import "src/styles/mixins";

.label {
  display: inline-flex;
  align-items: center;

  padding: 10px;
  background-color: var(--white);
  border: 1px solid var(--cultured);
  border-radius: 5px;

  font-size: 1rem;
  text-transform: capitalize;

  &.label__red {
    background-color: var(--tart-orange);
    color: #ffffff;
  }

  &.label__blue {
    background-color: var(--pacific-blue);
    color: #ffffff;
  }

  &.label__green {
    background-color: var(--rifle-green);
    color: #ffffff;
  }
}

@include screen__medium {
  .label {
    font-size: 1.5rem;
  }
}
