@import "../../../styles/mixins";

.navigation-list {
  text-align: center;
  padding-left: 0;
  margin: 0;
}

.navigation-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);

  a {
    color: var(--color-primary);
    display: block;
    padding: 1rem 0;
    text-transform: capitalize;

    &.active {
      color: var(--color-secondary);
      font-weight: 700;
    }
  }

  &.navigation_item__with-margin {
    margin-top: 10px;
  }
}

@include tablet {
  .navigation-item {
    a {
      font-size: 1.5rem;
    }

    &.navigation-item__with-margin {
      margin-top: 20px;
    }
  }
}
