@import "src/styles/mixins";

.container {
  background-color: var(--cultured);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 300px;
}

@include tablet {
  .container {
    margin-left: var(--sidebar-width);
  }
}
