@import "src/styles/mixins";

.cook-sidebar {
  grid-area: sidebar;
  height: 200px;
  overflow: hidden;
  background-color: var(--cultured);
  padding: 0 10px;
  transition: height 0.5s ease;

  &.cook-sidebar__hidden {
    height: 0;
  }
}

@include tablet {
  .cook-sidebar {
    padding: 0 20px;
    height: auto;
  }
}
