.search_suggestions {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--color-primary);

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    padding: 5px 10px;

    &.search_suggestions__active {
      background-color: var(--cultured);
    }
  }

  a {
    display: block;
    color: var(--color-primary);
  }
}
