.search {
  position: relative;
  margin: 50px 0;
  width: 100%;
}

.search_form {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--white);
  overflow: hidden;

  &:focus-within {
    border-color: var(--color-primary);
  }
}

.search_input {
  border: none;
  outline: none;
  min-width: 150px;
  flex-grow: 1;
  padding: 10px;
  background-color: transparent;
}

.search_button {
  width: 40px;
  font-size: 25px;
  padding: 0 10px;
  color: var(--color-primary);
  flex-shrink: 0;
  transition: all 0.3s ease;

  svg {
    fill: var(--color-primary);
  }

  &:hover,
  &:focus {
    color: var(--color-link-primary--hover);

    svg {
      fill: var(--color-link-primary--hover);
    }
  }

  &.search_button__hidden {
    display: none;
  }
}
